[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
python-decouple = "*"
django-cors-headers = "*"
pillow = "*"
channels = "*"
channels-redis = "*"
daphne = "*"
numpy = "*"
langchain = "*"
langchain-google-genai = "*"
python-dotenv = "*"
openai = "*"
langchain-community = "*"

[dev-packages]

[requires]
python_version = "3.12"
